.collections {
    height: 100%;
    overflow: visible;
    transition: .5s;

    &.is-hide {
        height: 0;
        overflow: hidden;
        transition: .5s;
    }
    @media (min-width: 1024px) {
        columns: 2;
        page-break-inside: avoid;
        break-inside: avoid;
    }

    @media (min-width: 1440px) {
        columns: 3;
    }

    .collection-item {
        margin-left: auto;
        margin-right: auto;
        max-width: calc(100% - 40px);
        break-inside: avoid-column;
        width: 400px;
        padding: 20px;
        background: #fff;
        margin-bottom: 20px;
        transition: .25s;

        &:hover {
            box-shadow: 0px -2px 15px -3px rgba(0,0,0,0.5);
            transition: .25s;
        }

        @media (min-width: 1440px) {
            width: 375px;
        }

        img {
            max-width: 100%;
        }
    }
    
    .collection-photo {
        cursor: pointer;
    }

    p:first-of-type {
        font-size: 14px;
        text-transform: none;
        font-weight: bold;
    }

    p:last-of-type {
        cursor: pointer;
        transition: .25s;

        &:hover {
            font-weight: bold;
            transition: .25s
        }
    }
}