.popup-wrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    overflow: scroll;
}

.popup {
    position: absolute;
    max-width: 660px;
    top: 0;
    background-color: #ffffff;
    padding: 40px;
    font-weight: bold;
    margin-top: 160px;
    margin-bottom: 100px;

    @media (min-width: 680px) {
        left: calc(50% - 330px);
    }
    
    .popup__dscr {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    .popup__dscr-info {
        flex-basis: 50%;
        margin-top: 12px;
        font-size: 14px;
        position: relative;
    }

    .popup__close {
        position: absolute;
        top: 10px;
        font-size: 14px;
        right: 40px;
        cursor: pointer;
        
        &::before,
        &::after {
            display: block;
            position: absolute;
            content: '';
            width: 3px;
            height: 15px;
            background-color: #000;
            top: 3px;
            right: -20px;
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);

        }
    }

    .popup__like-icon,
    .popup__download-icon {
        display: inline-block;
        width: 25px;
        height: 25px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('www/img/icons/like-icon.png');
        cursor: pointer;
        transition: .25s;
        position: relative;
        top: 4px;
        margin-left: 12px;
        
        &.is-active {
            transition: .25s;
            transform: scale(1.25);
        }
    }

    .popup__download-icon {
        background-image: url('www/img/icons/download-icon.png');
        width: 18px;
        top: 6px;
    }
}